<html>
  <head>
    <title>{{ title }}</title>
    <style type="text/css" media="all">
table, td {
  border: 1px solid black;
}
    </style>
  </head>
  <body>
    <center>
      <h1>Occupations</h1>
      <table>
        {% for row in occupations %}
        <tr>
          {% for item in row[:-1] %}
          <td>
            {{item}}
          </td>
          {% endfor %}
          {% if row[2] != 'Link' %}
          <td>
            <a href="{{ row[2] }}">Get started</a>
          </td>
          {% else %}
          <td>
            {{ row[2] }}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </center>
  </body>
</html>
