<html>
  <head>
    <title>Occupations</title>
    <style type="text/css" media="all">
table, td, th {
  border: 1px solid black;
}
    </style>
  </head>
  <body>
    <center>
      <h1>Occupations</h1>
      <table>
        <tr>
          <th>Job class</th>
          <th>Percent</th>
          <th>Link</th>
        </tr>
        <!-- The value of a key in the dictionary is a list
             the 0th value of list is the percent
             the 1st value of list is the link to the occupation -->
        {% for occupation in occupations %}
        <tr>
          <td> {{ occupation }} </td>
          <td> {{ occupations.get(occupation)[0] }} </td>
          <td> <a href="{{ occupations.get(occupation)[1] }}">Get started!</a> </td>
        </tr>
        {% endfor %}
      </table>
    {% if rand_occupation %}
      <br>
      Random occupation: {{ rand_occupation }}
    {% endif %}
    </center>
  </body>
</html>
